/* 
 Daniel Casanovas Gayoso 
 Treball Fi de Grau 
 EPS UDL 2014/2015
*/

.title-backgroundColor{
    -fx-background-color: #DA45B4;
    -fx-background-image: url("/images/logoUDL.png");
    -fx-background-repeat: no-repeat;
}

.backgroundColor{
    -fx-background-color: white;
}

.filterPane{
    -fx-border-style: dashed;
    -fx-border-color: gainsboro;
}

.logTextArea-background{
    -fx-background-color: gainsboro;
    -fx-text-color: white;
}

.comboBox-defaultComboBox{
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1 1 1 1;
    -fx-padding: 1 3 1 3;
    -fx-background-radius: 0;
    -fx-cursor: hand;
}

.button-defaultButton{
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1 1 1 1;
    -fx-padding: 1 3 1 3;
    -fx-cursor: hand;
}

.button-defaultButton:hover{
    -fx-background-color: #deeff6;
}

.button-deleteButton{
    -fx-background-image:url("/images/delete.png");
    -fx-background-size: 10 10;
    -fx-cursor: hand;
}

.button-deleteButton:hover{
    -fx-opacity: 0.5;
}

#sendToDBButton{
    -fx-side: 10 10;
    -fx-background-image:url("/images/box.png");
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 243 3.5;
}

#reloadButton{

    -fx-background-image:url("/images/refresh.png");
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 168 3.5;
}

#loadLogButton{
    -fx-background-image:url("/images/folder.png");
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 173 3.5;
}

#filterTextField{
    -fx-background-image:url("/images/search.png");
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 130 3.5;
}